






.apply-content {
    width: 1024px;
    margin: 50px auto 0px auto;
    text-align: center;
}
.articles{
    margin-bottom: 50px;
    width: 200px;
}
.article-title{
    text-align: start;
}
.content-articles{
    width: 85%;
    padding: 40px 60px;
    background: #FFFFFF;
    margin-left: 250px;
    margin-bottom: -80px;
}
.article-content{
    text-align: start;
    width: 523px;
}

.subscribe-container{
    z-index: -1;
}
