.header-container {
    height: 240px;
    width: 100%;
    background: #EAC435;
}

.header-content {
    display: flex;
    padding: 67px 10px;

}

.header-content section {
    margin: 10px 70px;
    width: 100%;
}

.text-one h1 {
    height: 37px;
    width: 100%;
    color: #17255A;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    line-height: 37.46px;
    letter-spacing: 0.25px;
    display: flex;
    align-content: space-between;
    padding: 0px 0px 30px 0px;
    /* margin-top: 67px;
    margin-right: 50px; */
}

.text-one p {
    height: 34px;
    width: 100%;
    color: #17255A;
    font-weight: 400;
    font-size: 15px;
    font-family: Nunito;
    line-height: 24.27px;
    letter-spacing: 00.25px;
    display: flex;
    align-content: space-between;
    padding: 21px 0px 0px 0px;
}

.text-two span,
a {
    color: #17255A;
}

.text-two span {
    height: 25px;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    font-family: Nunito;
    line-height: 24.27px;
    letter-spacing: 00.25px;
    padding: 7px 0px 0px 4px;

}

.text-two a {
    height: 37px;
    width: 100%;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    line-height: 37.46px;
    letter-spacing: 0.25px;
    padding: 2px 0px 0px 0px;
}

.home-hero-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home-container {
    padding-left: 70px;
    padding-right: 70px;
}

.home-hero-content-title {
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 106px;
    letter-spacing: -1.5px;
    text-align: left;
    color: #17255A;
}


.home-hero-content-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    width: 312px;
}

.home-hero-circles {
    display: flex;
    gap: 30px;
}

.home-hero-bg {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    z-index: 1;
}

.carribean-green {
    background: #03CEA4;
}

.space-cadet {
    background: #17255A;
}

.home-hero-bg-title {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration-line: underline;
}

.home-hero-bg-text {
    margin-top: 10px;
}

.white-text {
    color: whitesmoke;
}

.home-hero-media {
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: -80px;
}

.home-hero-arrow-down {
    width: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.home-hero-grey {
    background: #eeeeee;
    height: 536px;
    margin-top: -220px;
}

.home-hero-grey {
    display: flex;
    align-items: flex-end;
    padding-bottom: 120px;
    justify-content: center;
}

.home-hero-grey-groups {
    display: flex;
    gap: 50px;
}

.home-hero-grey-number {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #03CEA4;
    margin-bottom: 10px;
}

.home-hero-grey-text {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: left;
    width: 135px;
}


.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copy-text h1 {
    /* //styleName: Headline 3; */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 90px;

}

.copy-text p {
    /* //styleName: Body 1; */
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 40px;
}

.learning-experience {
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #EEEEEE;
    margin-top: 50px;
}

.experience-text {
    display: flex;
    align-items: center;
}

.learning-experience-0 {
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    margin-top: 50px;
}

.learning-experience-1 {
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #F5772F;
    margin-top: 50px;
}

.experience-text-1 {
    display: flex;
    align-items: center;
}



.learning-experience-2 {
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #17255A;
}

.home-faq-title{
    margin-top: 89px;
    margin-bottom: 170px;
    margin-left: 314px;
}

.home-faq-content{
    width: 260px;
    margin: auto;
}

.home-faq-link{
    text-align: center;
    margin-bottom: 98px;
}

.home-journal {
    padding: 90px;
    background: #eeeeee;
}

.home-title-text {
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #17255A;
}

.home-journal-title {
    margin-left: 80px;
    margin-bottom: 80px;
}

.home-journal-text {
    padding-left: 140px;
}

.grid-home {
    margin-top: 70px;
}

.home-partners {
    height: 234px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}