.header-container{
    height: 240px;
    width: 100%;
    background: #EAC435;
}

.header-content{
    display: flex;
    padding: 67px 10px;
    
}

.header-content section{
    margin: 10px 70px;
    width: 100%;
}

.text-one h1{
    height: 37px;
    width: 100%;
    color: #17255A;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    line-height: 37.46px;
    letter-spacing: 0.25px;
    display: flex;
    align-content: space-between;
    padding: 0px 0px 30px 0px;
    /* margin-top: 67px;
    margin-right: 50px; */
}

.text-one p{
    height: 34px;
    width: 100%;
    color: #17255A;
    font-weight: 400;
    font-size: 15px;
    font-family: Nunito;
    line-height: 24.27px;
    letter-spacing: 00.25px;
    display: flex;
    align-content: space-between;
    padding: 21px 0px 0px 0px;
}

.text-two span,
a{
    color: #17255A;
}

.text-two span{
    height: 25px;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    font-family: Nunito;
    line-height: 24.27px;
    letter-spacing: 00.25px;
    padding: 7px 0px 0px 4px;

}

.text-two a{
    height: 37px;
    width: 100%;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    line-height: 37.46px;
    letter-spacing: 0.25px;
    padding: 2px 0px 0px 0px;
}

.hero{
    height: 1225px;
    width: 100%;
}

.media-section{
    height: 920px;
    width: 100%;
    /* padding: px; */
}

.hero-media{
    height: 631px;
    width: 100%;
    /* padding: 739px 64px; */
    /* display: flex; */
}

.hero-text-container{
    height: 251px;
    width: 100%;
    /* padding-bottom: 434px; */
    /* display: flex;
    justify-content: flex-start; */
}

.hero-text-container h1{
    width: 100%;
    height: 270px;
    color: #17255A;
    font-family: Roboto;
    font-weight: 900;
    font-size: 96px;
    line-height: 105.78px;
    letter-spacing: -1.5px;
    /* display: flex; */
    /* align-items: center; */
    padding: 15px 0px 0px 70px;
}

.hero-text-container p{
    /* height: 5px; */
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto;
    line-height: 25.89px;
    letter-spacing: 0.15px;
    padding: 0px 0px 0px 70px;  
}

.video-container{
    width: 100%;
    /* height: 250px; */
    padding: 0px 0px 0px 60px;
    margin-left: 50px;
}

.video-container img{
    width: 1290px;
    height: 450px;
    object-fit: cover;
}

.explore{
    width: 100%;
    height: 250px;
    padding: 40px 0px 0px 40px;
}

.explore-option-1{
    width: 100%;
    /* height: 250px; */
    padding-left: 824px;
    /* padding-top: 9px; */
    border-radius: 0px;


}

.circle-1{
    width: 100%;
    height: 250px;
    margin-top: -2px 0px 0px 0px;
    border-radius: 125px;
}

.explore-option-2{
    width: 100%;
    /* height: 250px; */
    padding-left: 1090px;
    /* padding-top: 9px; */
    border-radius: 0px;
}

.circle-2{
    width: 100%;
    height: 250px;
    margin-top: -2px 0px 0px 0px;
    border-radius: 125px;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copy-text h1{
    /* //styleName: Headline 3; */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 90px;

}

.copy-text p{
    /* //styleName: Body 1; */
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 40px;
}

.learning-experience{
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #EEEEEE;
    margin-top: 50px;
}

.experience-text{
    display: flex;
    align-items: center;
}

.learning-experience-0{
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    margin-top: 50px;
}

.learning-experience-1{
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #F5772F;
    margin-top: 50px;
}

.experience-text-1{
    display: flex;
    align-items: center;
}











.learning-experience-2{
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #17255A;
}
