.landing-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.landing-hero-content h2 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-hero-content p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    width: 654px;
}

.landing-hero-bg {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.landing-hero-bg-img {
    height: 460px;
    background: url('../img/bg.png');
}

.landing-hero-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}



.blue-bg {
    height: 780px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    background: #17255A;
    margin-top: 50px;
}

.text-bg {
    display: flex;
    align-items: center;
}

.text-bg div h2,
.text-bg div p {
    color: whitesmoke
}

.text-bg div h2 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.sm-text {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.25px;
    text-align: left;
    color: #03CEA4;

}