.journal-header {
    height: 438px;
    width: 95%;
    /* left: 50px; */
    top: 262px;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 0px auto;
    padding: 0px 200px;
}


.journal-header h1{
    font-size: 96px;
}

/* .grid-head{
    
} */

.journal-header button{
    height: 36px;
    width: 106px;
    border-radius: 4px;
    height: 36px;
    border-width: 1px;
    background: none;
    color: #17255A;
}

.journal-hero{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
}

.hero-content{
    padding-right: 90px;
    padding-top: 30px;
}

.hero-content-footer{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.hero-content-footer p{
    margin-left: 20px;
font-family: Nunito;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.4000000059604645px;
text-align: left;

}

.journal-grid{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.grid-head{
    margin-bottom: 20px;
}

.journal-grid-head{
    margin-top: 60px;
    color: #03CEA4;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.25px;
    text-align: left;
    padding: 32px 0px;
}

.journal-grid-title{
    /* //styleName: Headline 4; */
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 37px;
letter-spacing: 0.25px;
text-align: left;
padding: 0px 0px 32px 0px;
color: #17255A;
margin-top: 40px;

}

.journal-load{
    text-align: center;
}

.journal-load button{
    /* margin-left: 80px; */
    height: 36px;
    width: 106px;
    border-radius: 4px;
    height: 36px;
    border-width: 1px;
    background: none;
    color: #17255A;
    margin-bottom: 50px;
}