.menu-container{
    background-color: #17255A;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bar{
    
}
.menu-bar a{
    color: #ffffff;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.25px;
    line-height: 16.53px;
    margin-right: 30px;
}